* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;  
}

.ghost {
    animation: : moveUpDown 3s infinite;
    position: absolute;
}

@keyframes moveUpDown {
    0% {
        margin-top: 0px;
    }
    50% {
        margin-top: -50px;
    }
    100% {
        margin-top: 0px;
    }
}

.ghost  .body {
    width: 120px;
    height: 160px;
    background: #fff;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    position: relative;
}

.ghost  .body  .face {
    width: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.ghost  .body  .face  .eye {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: #333;
}

.ghost  .body  .face  .mouse {
    width: 33px;
    height: 15px;
    background: #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 19px;
    margin-top: 13px;
}

.ghost  .bottom {
    display: flex;
}

.ghost  .bottom  .leg {
    width: 24px;
    height: 15px;
    background: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.ghost  .bottom  .leg:nth-child(2n) {
    background: #000;
    position: relative;
    top: -6px;
    border-radius: 50%;
}